@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Decision Maker</h1>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <img class="img-responsive  wow shake" src="~/Content/logo.jpg" />
    </div>
</div>
<div class="text-center">
    <h1>60</h1>
</div>

<style>
    .img-responsive {
        margin: 0 auto;
    }

    h1 {
        font-size: 100px;
    }
</style>