@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Super app</h1>
</div>

<div class="row text-center">
    <div class="col-md-12">
        @Html.ActionLink("LPR", "Index", "LPR")
    </div>
    <div class="col-md-12">
        <a href="#">Сценарий2</a>
    </div><div class="col-md-12">
        <a href="#">Сценарий3</a>
    </div><div class="col-md-12">
        <a href="#">Сценарий4</a>
    </div>
</div>